@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
.join-m {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
}

.join-m .addPd-addrSearch {
  width: 100vw;
  position: absolute;
  height: 100vh;
  top: 0;
}

.join-m .join-form {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join-m .join-form input {
  border: none;
}

.join-m .join-form input:focus {
  outline: none;
}

.join-m .join-form .input-box {
  width: 100%;
  height: 40px;
  margin-bottom: 18px;
  border: 1px solid #dbdbdb;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.join-m .join-form .input-box label {
  font-size: 14px;
}

.join-m .join-form .input-box input {
  width: 70%;
  height: 18px;
  float: right;
}

.join-m .join-form .zip-code {
  width: 100%;
  height: 40px;
  margin-bottom: 18px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.join-m .join-form .zip-code button {
  background-color: #ffffff;
  border: 1.5px solid #1f72ee;
  color: #1f72ee;
  font-weight: 600;
  height: 42px;
  border-radius: 5px;
}

.join-m .join-form .zip-code input {
  width: 78%;
  height: 38px;
  background-color: #f8f8fa;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.join-m .join-form .addr {
  width: 100%;
  height: 40px;
  background-color: #f8f8fa;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.join-m .join-form .agree-box {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
}

.join-m .join-form .agree-box img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  float: right;
}

.join-m .join-form .agree-box .agree-title-line {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px 10px 10px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.join-m .join-form .agree-box .all-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1f72ee;
}

.join-m .join-form .agree-box .agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8px 0;
  padding: 0 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.join-m .join-form .agree-box .agree .highright {
  color: #1f72ee;
  margin-left: 3px;
}

.join-m .join-form .join-btn {
  margin-top: 20px;
  background-color: #1f72ee;
  color: #ffffff;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
