@import "../scss/Variables.scss";
@media (max-width: 900px) {
  .addPd {
    display: none;
  }
  .MaddPd {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300vh;

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    .addPd-Name {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 70%;
        height: 100%;
      }
    }
    .addPd-addrSearch {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .addPd-view {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      .manageInclude {
        width: 80%;
        height: 200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 0.4fr);
        column-gap: 5px;
        row-gap: 5px;
        .manageTag {
          margin-top: 10px;
          width: 100%;
          height: 100%;
          background-color: rgb(160, 197, 253);
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .select {
          margin-top: 10px;
          width: 100%;
          height: 100%;
          background-color: rgb(72, 97, 236);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .addPd-Addr {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 80%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
          height: 30%;
          button {
            width: 100%;
            height: 100%;
            font-size: 17px;
            font-weight: 500;
            background-color: rgb(152, 159, 255);
          }
        }
        input {
          height: 30%;
        }
      }
      .Photo {
        width: 70%;
        height: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
          background-color: rgb(152, 159, 255);
          width: 100%;
          height: 100%;
        }
      }
      .shorTerm {
        width: 80%;
        height: 5%;
        form {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: space-between;
          align-items: center;
          ul {
            width: 60%;
          }
        }
      }
      .direction {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dropDown {
          width: 70%;
        }
      }
      .builtInDetail {
        align-items: center;
        width: 80%;
        height: 3%;
        display: grid;
        grid-template-columns: 2fr 4fr;
        .detail {
          width: 70;
        }
      }
      .builtIn {
        align-items: center;
        width: 80%;
        height: 3%;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
      }
      .availableMoveIn {
        align-items: center;
        width: 80%;
        height: 3%;
        display: grid;
        grid-template-columns: 2fr 3fr;
      }
      .mainUse {
        display: flex;
        width: 80%;
        height: 3%;
        justify-content: space-between;
        align-items: center;
      }
      .addPd-houseType {
        display: flex;
      }
      .parking {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3%;
      }
      .submit {
        width: 80%;
        height: 3%;

        button {
          width: 100%;
          height: 100%;
          background-color: rgb(112, 112, 236);
          font-size: 19px;
        }
      }
    }

    .addition {
      display: flex;
    }

    .addPd-Contraction,
    .addPd-building,
    .addPd-houseType,
    .addpd-price,
    .addPd-isparking {
      display: flex;
    }

    ul {
      display: flex;
    }
  }
}
