@import "../scss/Variables.scss";

@media (max-width: 900px) {
  .Head {
    font-family: $bluy-Font;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 102px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    .Head-View {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .Head-Mobile {
        width: 100%;
        height: 100%;
        .Top {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-between;

          .icon {
            position: relative;
            width: 43px;
            padding-bottom: 43px;
            img {
              padding-left: 20px;
              border-radius: 7px;
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .btn {
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            padding-right: 20px;
            div {
              position: relative;
              width: 20%;
              padding-bottom: 20%;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: absolute;
              }
            }
          }
        }
        .Bottom {
          font-family: $bluy-Font;
          padding: 5px 0;
          border-top: 1px solid rgb(112, 112, 112);
          border-bottom: 1px solid rgb(112, 112, 112);
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          column-gap: 10px;
          div {
            min-width: 80px;
            width: 90%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            h4 {
              font-family: $bluy-Font;
              color: black;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
      }
      .Head-Header {
        display: none;
        width: 0;
        height: 0;
      }
      .Head-Header-map {
        display: none;
        width: 0;
        height: 0;
      }
    }

    .Head-subHeader {
      position: absolute;
      top: 50px;
      width: 70%;
      height: 30px;
    }
    .Head-subHeader-map {
      position: absolute;
      top: 50px;
      width: 100%;
      height: 30px;
    }
  }
}
