@import "./Variables.scss";

.footer {
  position: absolute;
  bottom: -1;
  background-color: rgb(53, 53, 53);
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;

  .footer-footer {
    display: flex;
    width: 70%;
    margin-top: 50px;
    justify-content: space-between;

    .detail {
      width: 70%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .title {
        width: 100%;
        height: 20%;

        display: flex;
        align-items: center;
        .title-phone-img {
          width: 5%;
          padding-bottom: 5%;
          position: relative;
          img {
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      .detail-company {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      h1 {
        font-size: 50px;
        color: white;
        font-weight: 600;
      }
      h3 {
        font-size: 18px;
        color: white;
        font-weight: 600;
      }
      h4 {
        font-size: 16px;
        color: white;
        font-weight: 600;
      }
    }
    .contact {
      width: 30%;
      height: 50%;
      display: flex;
      div {
        position: relative;
        width: 10%;
        padding-bottom: 20%;
        margin-right: 9px;

        img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: contain;
        }
      }
    }
  }
}
