@import "../scss/Variables.scss";

.Home {
  font-family: $bluy-Font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Banner {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;

    .slick-slider {
      min-width: $MINWIDTH;
      width: 100%;
      height: 30vh;
      .slick-list {
        height: 100%;
        .slick-track {
          height: 100%;
          div {
            background-color: cornflowerblue;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              background-color: blue;
              min-width: $MINWIDTH;
              width: 100%;
              height: 100%;
              min-width: none;

              object-fit: fill;
            }
          }
        }
      }
    }

    .nextArrow {
      opacity: 0;
    }

    .bottom {
      width: 100%;
      height: 40px;
      position: absolute;
      bottom: 45px;
      opacity: 70%;
      display: flex;
      justify-content: center;
      background-color: azure;
      .btn {
        width: 70%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        div {
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        div:nth-child(2) {
          border-left: 1px black solid;
        }
        div:nth-child(3) {
          border-left: 1px black solid;
        }
        div:nth-child(4) {
          border-left: 1px black solid;
        }
      }
    }
  }
  .main-Btn {
    width: 70%;
    height: 250px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    div {
      width: 48%;
      height: 100%;
      background-color: aqua;
      border-radius: 20px;
    }
  }
  .Solution-Area {
    width: 70%;
    height: 200px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
