@import "../scss/Variables.scss";

@media (min-width: 900px) {
  .MobileMapView,
  .swipeable-bottom-sheet {
    display: none;
  }
  .Head {
    display: none;
  }
  .MapView {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .Map-body {
      width: 100%;
      height: 100%;
      background-color: bisque;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
